<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View document</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1 class="header">View document</h1>
        <div class="view_document" th:object="${document}">
            <h1 th:text="*{name}">Name Document</h1>
            <p th:text="*{description}">Document Description</p>
        </div>

        <div class="view_document_btns">
            <form method="POST" th:action="@{/document/edit}">
                <input type="hidden" name="id" th:value="${document.id}"/>
                <input type="submit" value="Edit"/>
            </form>
            <form method="POST" th:action="@{/document/remove}">
                <input type="hidden" name="id" th:value="${document.id}"/>
                <input type="submit" value="Delete"/>
            </form>
            <a th:href="@{/}">Back</a>
        </div>

    </body>
</html>
